img.logo {
    width: 10%;
    float: left;
    padding: 0px 50px;
}

.details {
    display: none;
}

div.box, div.boxhalf, div.boxthird {
    padding: 5px 10px; 
    border-radius: 1em 1em;
    float: left;
    background: #F8F0E7;
    border: thin solid #e0e0e0;
    box-shadow: 5px 5px 5px #c0c0c0;
}

div.boxthird {
    width: 29%;
}

div.boxhalf {
    width: 46%;
}

.widebox {
    padding: 5px 10px; 
    clear: both;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #a0a0a0;
}

h2 {
    clear: both;
    padding-top: 20px;
    text-shadow: 1px 1px 1px #c0c0c0;
}

footer {
    clear: both;
    padding-top: 20px;
}

.praisequote {
    float: left;
}
