{% include header.html %}
<section>
<h1> {{ page.title }} </h1>
<em> {{page.date | date_to_string }} </em><br>
{{ content }}

<hr>
<div>
{% if page.previous %} 
<div style="float: left;">
<a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}">&larr; Previous Entry </a>
</div>
{% endif %}
{% if page.next %} 
<div style="float: right;">
<a rel="next" href="{{ site.baseurl }}{{ page.next.url }}">Next Entry &rarr;</a>
</div>
{% endif %}
</div>
<hr>

<div id="comments">
   <h2>Comments</h2>
   <div id="header">
     Want to leave a comment? Visit <a href="https://github.com/rustyrussell/pettycoin/issues/{{page.commentIssueId}}"> this post's issue page on GitHub</a> (you'll need a GitHub account).  Or just <a href="mailto:rusty@rustcorp.com.au">mail me</a>.
   </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script type="text/javascript" src="http://datejs.googlecode.com/svn/trunk/build/date-en-US.js"></script>
<script type="text/javascript">

  function loadComments(data) {
    for (var i=0; i<data.length; i++) {
      var cuser = data[i].user.login;
      var cuserlink = "https://www.github.com/" + data[i].user.login;
      var clink = "https://github.com/rustyrussell/pettycoin/issues/{{page.commentIssueId}}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
      var cbody = data[i].body_html;
      var cavatarlink = data[i].user.avatar_url;
      var cdate = Date.parse(data[i].created_at).toString("yyyy-MM-dd HH:mm:ss");

      $("#comments").append("<div class='comment'><div class='commentheader'><div class='commentgravatar'>" + '<img src="' + cavatarlink + '" alt="" width="20" height="20">' + "</div><a class='commentuser' href=\""+ cuserlink + "\">" + cuser + "</a><a class='commentdate' href=\"" + clink + "\">" + cdate + "</a></div><div class='commentbody'>" + cbody + "</div></div>");
    }
  }

  $.ajax("https://api.github.com/repos/rustyrussell/pettycoin/issues/{{page.commentIssueId}}/comments?per_page=100", {
    headers: {Accept: "application/vnd.github.full+json"},
    dataType: "json",
    success: function(msg){
      loadComments(msg);
   }
  });
</script>
 </div>
</section>

{% include footer.html %}
